var toFixed = function(num, size) {
  var num = num || 0;
  return num.toFixed(size);
}

var replace = function(str) {
  var str = str || "";
  return str.replace(getRegExp("-", "g"), ".");
}

var toW = function(num) {
  return num >= 10000 ? (num / 10000).toFixed(1) + "万" : num;
}

var toK = function(num) {
  return num >= 10000 ? (num / 1000).toFixed(0) + "k" : num;
}

var formatDate = function(time) {
  var date = getDate(time * 1000);
  var year = date.getFullYear();
  var month = date.getMonth() + 1;
  var day = date.getDate();
  var retDate = year + "." + month + "." + day;
  return retDate;
}

var dateAndWeek = function(time) {
  var time = time || "";
  var newTime = time.split("T")[0];
  var date = getDate(newTime);
  var weekNum = date.getDay();
  var year = date.getFullYear();
  var month = (date.getMonth() + 1) >= 10 ? (date.getMonth() + 1) : "0" + (date.getMonth() + 1);
  var day = date.getDate() >= 10 ? date.getDate() : "0" + date.getDate();
  var weekArr = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
  return year + "." + month + "." + day + " " + weekArr[weekNum];
}

module.exports = {
  toFixed: toFixed,
  replace: replace,
  toW: toW,
  toK: toK,
  formatDate: formatDate,
  dateAndWeek: dateAndWeek
}
